// start of form with submit and controller

          .form-group
            Start Date
              input(type="date" name="startDate" ng-model="startDate")
          .form-group
            End Date
              input(type="date" name="endDate" ng-model="endDate")

