extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    a(href="/predictions") Predictions
    br
    a(href="/table") Table
    p You are currently logged in as #{user.email}
    a(href="/logout") Logout
    
