doctype html
html(ng-app="predictionApp")
  head
    title English Premier League Prediction League
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='English Premier League Prediction League' )
    //- Bootswatch Theme
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

  body(style="padding-bottom:10rem;")
    .container
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='/bootstrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/angularjs/angular.min.js")
    script(src="/angularjs/angular-route.min.js")
    script(src="/angularjs/angular-resource.min.js")
    script(src="/predictionModule.js")
    script(src='/jquery/jquery-3.3.1.min.js')
    script(src="/controllers/predictionController.js")
    script(src="/controllers/fixtureController.js")
    script(src="/directives.js")

  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br
    block content
