extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    nav.navbar.navbar-default( role="navigation" )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#") English Premier League Prediction League

        #navbar-inverse.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active: a( href="#") Home
                li: a( href="/predictions" ) Predictions
                li: a( href="/table" ) Table
                li.dropdown
                    a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Dropdown
                        span.caret
                    ul.dropdown-menu( role="menu" )
                        li: a( href="/sysparms" ) Sysparms
                        li: a( href="#" ) Something
                        li: a( href="#" ) Something else here
                        li.divider
                        li.dropdown-header Nav header
                        li: a( href="#" ) Separated link
                        li: a( href="#" ) One more separated link

  form(ng-submit="submit()", ng-controller="predictionController")
      .form-group
        Current Round
          input(type="number" name="round" value="#{round}" ng-model="round")
          button(type="button" ng-click="getFixtures()") Go
      .form-group
        div(class="container")
          div(class="row")
            div(class="col-md-2") Home Team
            div(class="col-md-1") Prediction
            div(class="col-md-2") Away Team
            div(class="col-md-1") Prediction
            div(class="col-md-1") Actual
            div(class="col-md-1") Score
            div(class="col-md-1") Joker
            div(class="col-md-1") Points
        br
        .form-group
          div(ng-repeat="prediction in prediction.predictions" ng-submit="submit()")
            div(class="row")
              div(class="col-md-2")
                input(type="text" class="form-control" name="homeTeam" value="{{ prediction.HomeTeam }}" ng-model="prediction.HomeTeam" readonly required)
              div(class="col-md-1")
                input(type="number" class="form-control" name="homePrediction" value="{{ prediction.HomePrediction }}" ng-model="prediction.HomePrediction" required)
              div(class="col-md-2")
                input(type="text" class="form-control" name="awayTeam" value="{{ prediction.AwayTeam }}" ng-model="prediction.AwayTeam" readonly required)
              div(class="col-md-1")
                input(type="number" class="form-control" name="awayPrediction" value="{{ prediction.AwayPrediction }}" ng-model="prediction.AwayPrediction" required)
              div(class="col-md-1")
                input(type="number" class="form-control" name="homeGoals" value="{{ prediction.HomeGoals }}" ng-model="prediction.HomeGoals" readonly required)
              div(class="col-md-1")
                input(type="number" class="form-control" name="awayGoals" value="{{ prediction.AwayGoals }}" ng-model="prediction.AwayGoals" readonly required)
              div(class="col-md-1")
                label
                  input(type="checkbox" name="joker" value="{{ prediction.joker}}" ng-model="prediction.joker" ng-true-value="true" ng-false-value="false")
              div(class="col-md-1")
                input(type="number" class="form-control" name="points" value="{{ prediction.points }}" ng-model="prediction.points" readonly required)

        .form-group
          div(class="row")
            div(class="col-lg-1")
              button.btn.btn-default(type='submit') Submit
            div(class="col-lg-6")
              input(type="text" class="form-control" name="userMessage" value="#{userMessage}" ng-model="userMessage" readonly required)
              p #{userMessage}
