extends layout

block content
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      a(href="/predictions") Predictions
      br
      a(href="/table") Table
      br
      a(href="/fixtures") Fixtures
      p You are currently logged in as #{user.email}
      a(href="/logout") Logout
      br

      form(ng-submit="submit()", ng-controller="predictionController")
          .form-group
            Current Month
              input(type="text" name="month" value="#{month}" ng-model="month")
              button(type="button" ng-click="changeMonth()") Go
          .form-group
            Current Round
              input(type="number" name="round" value="#{round}" ng-model="round")
              button(type="button" ng-click="changeRound()") Go
          .form-group
            div(class="col-xs-3") Home Team
            div(class="col-xs-1") Prediction
            div(class="col-xs-3") Away Team
            div(class="col-xs-1") Prediction
            div(class="col-xs-1") Actual
            div(class="col-xs-1") Score
            div(class="col-xs-1") Joker
          br
          .form-group
            div(ng-repeat="prediction in prediction.predictions" ng-submit="submit()")
              div(class="col-xs-3")
                input(type="text" class="form-control" name="homeTeam" value="{{ prediction.homeTeam }}" ng-model="prediction.homeTeam" readonly required)
              div(class="col-xs-1")
                input(type="number" class="form-control" name="homePrediction" value="{{ prediction.homePrediction }}" ng-model="prediction.homePrediction" required)
              div(class="col-xs-3")
                input(type="text" class="form-control" name="awayTeam" value="{{ prediction.awayTeam }}" ng-model="prediction.awayTeam" readonly required)
              div(class="col-xs-1")
                input(type="number" class="form-control" name="awayPrediction" value="{{ prediction.awayPrediction }}" ng-model="prediction.awayPrediction" required)
              div(class="col-xs-1")
                input(type="number" class="form-control" name="homeScore" value="{{ prediction.homeScore }}" ng-model="prediction.homeScore" readonly required)
              div(class="col-xs-1")
                input(type="number" class="form-control" name="awayScore" value="{{ prediction.awayScore }}" ng-model="prediction.awayScore" readonly required)
              div(class="checkbox")
                label
                  input(type="checkbox" name="joker" value="{{ prediction.joker}}" ng-model="prediction.joker" ng-true-value="true" ng-false-value="false")
          br
          button.btn.btn-default(type='submit') Submit
