extends layout

block content
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      a(href="/predictions") Predictions
      br
      a(href="/table") Table
      br
      a(href="/fixtures") Fixtures
      p You are currently logged in as #{user.email}
      a(href="/logout") Logout
      br

      form(ng-submit="submit()", ng-controller="predictionController")
          .form-group
            Current Month
              input(type="text" name="month" value="#{month}" ng-model="month")
              button(type="button" ng-click="changeMonth()") Go
          .form-group
            Current Round
              input(type="number" name="round" value="#{round}" ng-model="round")
              button(type="button" ng-click="changeRound()") Go
          .form-group
            div(class="container")
              div(class="row")
                div(class="col-md-3") Home Team Bitch
                div(class="col-md-1") Prediction
                div(class="col-md-3") Away Team
                div(class="col-md-1") Prediction
                div(class="col-md-1") Actual
                div(class="col-md-1") Score
                div(class="col-md-1") Joker
            br
            .form-group
              div(ng-repeat="prediction in prediction.predictions" ng-submit="submit()")
                div(class="row")
                  div(class="col-md-3")
                    input(type="text" class="form-control" name="homeTeam" value="{{ prediction.HomeTeam }}" ng-model="prediction.HomeTeam" readonly required)
                  div(class="col-md-1")
                    input(type="number" class="form-control" name="homePrediction" value="{{ prediction.HomePrediction }}" ng-model="prediction.HomePrediction" required)
                  div(class="col-md-3")
                    input(type="text" class="form-control" name="awayTeam" value="{{ prediction.AwayTeam }}" ng-model="prediction.AwayTeam" readonly required)
                  div(class="col-md-1")
                    input(type="number" class="form-control" name="awayPrediction" value="{{ prediction.AwayPrediction }}" ng-model="prediction.AwayPrediction" required)
                  div(class="col-md-1")
                    input(type="number" class="form-control" name="homeScore" value="{{ prediction.HomeScore }}" ng-model="prediction.HomeScore" readonly required)
                  div(class="col-md-1")
                    input(type="number" class="form-control" name="awayScore" value="{{ prediction.AwayScore }}" ng-model="prediction.AwayScore" readonly required)
                  div(class="col-md-1")
                    label
                      input(type="checkbox" name="joker" value="{{ prediction.joker}}" ng-model="prediction.joker" ng-true-value="true" ng-false-value="false")
                      br
            .form-group
              div(class="row")
                div(class="col-lg")
                  button.btn.btn-default(type='submit') Submit
                div(class="col-lg")
                input(type="text" class="form-control" name="userMessage" value="#{userMessage}" ng-model="userMessage" readonly required)
