extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    include navbar.jade

    form(ng-submit="submit()", ng-controller="predictionController")
        .form-group
          Current Round
            input(type="number" name="round" value="#{round}" ng-model="round")
            button(type="button" ng-click="getPredictions()") Go
        .form-group
          div(class="container")
            div(class="row")
              div(class="col-md-2") Home Team
              div(class="col-md-1") Prediction
              div(class="col-md-2") Away Team
              div(class="col-md-1") Prediction
              div(class="col-md-1") Actual
              div(class="col-md-1") Score
              div(class="col-md-1") Joker
              div(class="col-md-1") Points
          br
          .form-group
            div(ng-repeat="prediction in prediction.predictions" ng-submit="submit()")
              div(class="row")
                div(class="col-md-2")
                  input(type="text" class="form-control" name="homeTeam" value="{{ prediction.HomeTeam }}" ng-model="prediction.HomeTeam" readonly required)
                div(class="col-md-1")
                  input(type="number" class="form-control" name="homePrediction" value="{{ prediction.HomePrediction }}" ng-model="prediction.HomePrediction" required ng-disabled="(round < sysparms.currentRound)")
                div(class="col-md-2")
                  input(type="text" class="form-control" name="awayTeam" value="{{ prediction.AwayTeam }}" ng-model="prediction.AwayTeam" readonly required)
                div(class="col-md-1")
                  input(type="number" class="form-control" name="awayPrediction" value="{{ prediction.AwayPrediction }}" ng-model="prediction.AwayPrediction" required ng-disabled="(round < sysparms.currentRound)")
                div(class="col-md-1")
                  input(type="number" class="form-control" name="homeGoals" value="{{ prediction.HomeGoals }}" ng-model="prediction.HomeGoals" readonly required)
                div(class="col-md-1")
                  input(type="number" class="form-control" name="awayGoals" value="{{ prediction.AwayGoals }}" ng-model="prediction.AwayGoals" readonly required)
                div(class="col-md-1")
                  label
                    input(type="checkbox" name="joker" value="{{ prediction.joker}}" ng-model="prediction.joker" ng-true-value="true" ng-false-value="false" ng-disabled="(round < sysparms.currentRound)")
                div(class="col-md-1")
                  input(type="number" class="form-control" name="points" value="{{ prediction.points }}" ng-model="prediction.points" readonly required)

          .form-group
            div(class="row")
              div(class="col-lg-1")
                button.btn.btn-default(type='submit') Submit
              div(class="col-lg-6")
                input(type="text" class="form-control" name="userMessage" value="#{userMessage}" ng-model="userMessage" readonly required)
                p #{userMessage}
