extends layout


block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    include navbar.jade
    p You are currently logged in as #{user.email}
    a(href="/logout") Logout
    a(href="/") Home
    br
    div(ng-controller="prediction-controller")
      p
      Current Month
        input(type="text" name="month" value="#{month}")
      p
      Current round
        input(type="text" name="round" value="#{round}")
      <prediction-list predictions="predictions"></prediction-list>
