extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    include navbar.jade

    form(ng-submit="submit()", ng-controller="tableController")
        .form-group
          label Current Round
            input(type="number" name="round" value="#{round}" ng-model="round")
            button(type="button" ng-click="getFixtures()") Go
        .form-group
          p
            div(class="row")
              div(class="col-md-2") User Name
              div(class="col-md-2") Name
              div(class="col-md-2") Total Score
              div(class="col-md-2") Remaining Jokers
          br
          .form-group
            div(ng-repeat="result in results")
              div(class="row")
                div(class="col-md-2")
                  input(type="text" class="form-control" name="username" value="{{ result.username }}" ng-model="result.username" readonly required)
                div(class="col-md-2")
                  input(type="text" class="form-control" name="name" value="{{ result.fullname }}" ng-model="result.fullname" readonly required)
                div(class="col-md-2")
                  input(type="text" class="form-control" name="Total Score" value="{{ result.totalScore }}" ng-model="result.totalScore" readonly required)
                div(class="col-md-2")
                  input(type="text" class="form-control" name="Remaining jokers" value="{{ result.jokers }}" ng-model="result.jokers" readonly required)

          .form-group
            div(class="row")
              div(class="col-lg-6")
                input(type="text" class="form-control" name="userMessage" value="#{userMessage}" ng-model="userMessage" readonly required)
                p #{userMessage}
